<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Laporan Pengembalian</title>
</head>

<body>

<div align="center">
	<table width="100%">
		<tr>
			<td>
			<p align="center"><b><font face="Calibri" size="4">Laporan Pengembalian</font></b></td>
		</tr>
		<tr>
			<td>
			<p align="center"><b><font size="5">Perpustakaan Ansera</font></b></td>
		</tr>
		<tr>
			<td>
			<p align="center"><font size="2" face="Book Antiqua">Jln</font><font size="2" face="Book Antiqua">. Tumaritist No 258 Dukuh Semar - Cirebon 45142</font></td>
		</tr>
	</table></div>
<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center"><b><font face="Calibri">NO</font></b></td>
		<td align="center"><b><font face="Calibri">Tanggal Kembali</font></b></td>		
		<td align="center"><b><font face="Calibri">Tanggal Pinjam</font></b></td>
		<td align="center"><b><font face="Calibri">Terlambat</font></b></td>
		<td align="center"><b><font face="Calibri">Denda</font></b></td>

		<td align="center"><b><font face="Calibri">Nama Anggota</font></b></td>
		<td align="center"><b><font face="Calibri">Judul</font></b></td>
		<td align="center"><b><font face="Calibri">Penulis</font></b></td>
		<td align="center"><b><font face="Calibri">Penerbit</font></b></td>

	</tr>
	{% set no=0 %}
	{% for lap in laporan %}
	{% set no=no+1 %}
	<tr>
		<td align="center">{{ no }}</td>
		<td align="center">{{ lap.tanggal_kembali }}</td>
		<td align="center">{{ lap.tanggal_pinjam }}</td>
		<td align="center">{{ lap.terlambat }}</td>
		<td align="center">Rp. {{ lap.denda }}</td>
		<td align="center">{{ lap.nama }}</td>
		<td>{{ lap.judul }}</td>
		<td>{{ lap.penulis }}</td>
		<td>{{ lap.penerbit }}</td>

	</tr>
	{% endfor %}

</table>

<p align="right"><b>&nbsp;<font face="Calibri">Cirebon, 19 Juni 2014</font></b></p>
<p align="right"><b><font face="Calibri">( Anita Sesar Ria )</font></b></p>

</body>

</html>