{% extends "::base.html.twig" %}
{% block body %}

{% include "adminheader.html.twig" %}

<!-- Container -->
<div id="container">
	<div class="shell">
				
		<!-- Message OK -->		
		{% if success==true and method == "POST" %}
		<div class="msg msg-ok">
			<p><strong>Data anggota sudah disimpan</strong></p>
		</div>
		{% endif %}

		<!-- End Message OK -->		

		{% if success==false %}		
		<!-- Message Error -->
		<div class="msg msg-error">
			<p><strong>{{ error }} </strong></p>
		</div>
		<!-- End Message Error -->
		{% endif %}

		<br />
		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">Anggota</h2>
					</div>
					<!-- End Box Head -->	

					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th>No</th>
								<th>Nama</th>
								<th>Tanggal Bergabung</th>
								<th>No Telepon</th>
								<th>Alamat</th>
								<th width="110" class="ac">Aksi</th>
							</tr>
						 {% for ag in anggota %}
							<tr>
								<td>{{ ag.no }}</td>
								<td>{{ ag.nama}}</td>
								<td>{{ ag.tanggalBergabung | date("m/d/Y")}}</td>
								<td>{{ ag.noTelepon }}</td>
								<td>{{ ag.alamat }}</td>								
								<td><a onclick="return confirm('Anda yakin akan menghapus record ini?')" href="{{ path('anggota_delete',{'id_anggota':ag.id})}}" class="ico del">Delete</a><a href="{{ path('anggota_edit',{'id_anggota':ag.id})}}" class="ico edit">Edit</a></td>
							</tr>
						{% endfor %}
						</table>
						
						
						<!-- Pagging -->
						<div class="pagging">
							<!-- cara menggunakan library knp_pagination -->
							{{ knp_pagination_render(anggota) }}

						</div>
						<!-- End Pagging -->
						
					</div>
					<!-- Table -->
					
				</div>
				<!-- End Box -->
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2>Tambah Anggota</h2>
					</div>
					<!-- End Box Head -->
					<!-- menentukan action url. jika ada id_anggota berarti arahkan ke url /anggota/edit -->
					{% if app.request.get('id_anggota') %}
						{% set url=path('anggota_edit',{'id_anggota':app.request.get('id_anggota')}) %}
					{% else %}
						{% set url=path('anggota') %}
					{% endif %}

					<form action="{{ url }}" method="post">
						
						<!-- Form -->
						<div class="form">
								<p>
									<span class="req">max 100 symbols</span>
									<label>Nama<span>(Required Field)</span></label>
									<input type="text" name="nama" value="{{ nama | default('') }}"class="field size1" />
								</p>	
								<p>
									<span class="req">max 100 symbols</span>
									<label>No Telepon<span>(Required Field)</span></label>
									<input type="text" name="noTelepon" value="{{ noTelepon | default('') }}"class="field size1" />
								</p>	

								<p>
									<span class="req">max 100 symbols</span>
									<label>Alamat <span>(Required Field)</span></label>
									<textarea name="alamat" class="field size1">{{ alamat }}</textarea>
								</p>	

							
						</div>
						<!-- End Form -->
						
						<!-- Form Buttons -->
						<div class="buttons">
							<input type="submit" class="button" value="SIMPAN" />
						</div>
						<!-- End Form Buttons -->
					</form>
				</div>
				<!-- End Box -->

			</div>
			<!-- End Content -->
			
			
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- End Container -->
{% endblock %}